{% load static %}

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: cornsilk;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #050505;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
  }

  .navbar {
    background-image: url("{% static 'navbg.jpg' %}");
    background-size: cover;
    background-position: center;
    opacity: 80%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .logo {
    height: 50px;
    margin-right: 10px;
  }

  .navbar .title {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .button {
    text-align: center;
    margin-top: 1.5px;
  }

  .button a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .button a:hover {
    background-color: #555;
  }

  .admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .admin-table th,
  .admin-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .admin-table th {
    background-color: #f7b74c;
    font-weight: bold;
    color: #333;
  }

  .admin-table td {
    background-color: #fff;
    color: #333;
  }
  
  .update-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: #45a049;
}
</style>

<body>
  <div class="navbar">
    <a href="{% url 'homepage' %}">
      <img src="{% static 'kpmb.gif' %}" class="logo">
    </a>
    <div class="button">
      <a href="{% url 'viewachievement' %}">Student List</a>
      <a href="{% url 'studentdata' %}">Student</a>
      <a href="{% url 'admindata' %}">Admin</a>
      <a href="{% url 'searchpage' %}">Search Student</a>
      <a href="{% url 'create_achievment' %}">Create Achievement</a>
      <a href="{% url 'create_category' %}">Create Category</a>
      <a href="{% url 'create_level' %}">Create Level</a>
    </div>
  </div>

  <div class="content">
    <h1>Admin Data</h1>

    <table class="admin-table">
      <tr>
        <th>Admin ID</th>
        <th>Admin Name</th>
        <th>Admin Phone No</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>{{ admin.adminid }}</td>
        <td>{{ admin.name }}</td>
        <td>{{ admin.phone_number }}</td> 
        <td>
          <a href="{% url 'updateadmin' admin.adminid %}" class="update-button">Update</a>
        </td>
      </tr>
    </table>
  </div>
</body>
{% endblock %}
